/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/butterfreePic.png') no-repeat center top;
  background-size: contain;
}

#welcome {
  font-size: 50px;
  margin-top: 25px;
  text-align: center;
}

#motto {
  font-size: 20px;
  text-align: center;
}

#success {
  color: black;
  background-color: lavender;
  border-color: #47e6ec;
}

#success-text {
  color: #47e6ec;
}

// Button Styles

#view-button {
  color: black;
}
#comment-button {
  background-color: #7539ee;
  color: white;
}
#delete-button {
}
#cancel-save {
  color: black;
  background-color: #47e6ec;
}
#jh-create-entity {
  background-color: #7539ee;
}

//Post Styles
.card {
  // display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'header header' 'content content' 'time time' 'hashtags hashtags' 'buttons buttons';
}

.post-header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.post-content {
  grid-area: content;
}

.post-time {
  grid-area: time;
  font-size: 14px;
  color: #999;
}
