/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/butterfreePic.png') no-repeat center top;
  background-size: contain;
}

#welcome {
  font-size: 50px;
  margin-top: 25px;
  text-align: center;
}
#motto {
  font-size: 20px;
  text-align: center;
}
#success {
  color: black;
  background-color: lavender;
  border-color: #47e6ec;
}

#success-text {
  color: #47e6ec;
}

#view-button {
  color: black;
}
