$header-color: #7539ee;
$header-color-secondary: #47e6ec;
$header-color-hover: darken($header-color, 20%);

/* ==========================================================================
Navbar styles
========================================================================== */
.navbar-brand {
  overflow: hidden;
}

.jh-navbar .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
// adjusts header height and color
.bg-stock {
  background-color: #000000;
  opacity: 82%;
  height: 70px;
}

.navbar-version {
  font-size: 14px;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    img {
      height: 45px;
    }
  }
}

// controls "Flutter" in header
.brand-title {
  font-size: 24px;
  color: $header-color;
  // &:hover {
  //   color: $header-color-hover;
  text-decoration: none;
  background-image: linear-gradient(-225deg, #54078f 0%, #460ccf 29%, #13d8ff 67%, #d000ff 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  text-align: center;
  // font-size: 50px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.loading-bar {
  height: 3px;
  background-color: #580955;
  position: absolute;
  top: 0px;
  z-index: 1031;
}
//For the nav bar drop down menu items
.nav-link {
  color: #47e6ec;
}

// controls outer portion of header
.d-flex {
  margin-top: 1px;
}

// Styles for mobile
@media (max-width: 768px) {
  .navbar-version {
    display: none;
  }

  .nav-link {
    margin-left: 12px;
  }
  #header-tabs {
    background-color: #000000;
    opacity: 82%;
    width: 50%;
    float: left;
  }
  .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
  .brand-title {
    text-align: center;
  }
  #brand-icon {
    display: none;
  }
}
