/* ==========================================================================
Main page styles
========================================================================== */
// This is the picture of the butterfree on the login and home pages
.butterfree {
  display: inline-block;
  width: 100%;
  height: 100px;
  padding-bottom: 200px;
  background: url('../../../content/images/butterfreePic.png') no-repeat center top;
  background-size: contain;
}

// This is the welcome message on the homepage
#welcome {
  font-size: 50px;
  margin-top: 25px;
  text-align: center;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(42, 232, 216));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#profile-heading {
  text-align: center;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(27, 244, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// This is the "Spread Your Wings" from the header
#motto {
  font-size: 20px;
  text-align: center;
}
#profile-info {
  color: #060606;
  text-align: left;
}

#user {
  color: #0d0e0e;
}
#success {
  color: black;
  background-color: lavender;
  border-color: #47e6ec;
  border-radius: 5px;
  margin-right: 20px;
}

#butterfly {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: Override;
}
#success-text {
  color: #45d6db;
}

// Button Styles

#edit-button,
#delete-button,
#comment-button,
#show-comments-button {
  // background-color: #7539ee;
  color: black;
  background-color: rgb(253, 251, 251);
  background-color: transparent;
  float: right;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 12px;
}

#feed {
  float: right;
}

#edit-button:hover,
#comment-button:hover,
#delete-button:hover,
#refresh-list:hover,
#jh-create-entity:hover #header-jawn:hover,
#show-comments-button:hover {
  color: #47e6ec;
}



#header-jawn {
  text-align: center;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(42, 232, 216));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#cancel-save {
  color: black;
  background-color: #47e6ec;
}
#jh-create-entity {
  color: black;
  background-color: white;
}
#refresh-list {
  color: black;
  background-color: white;
}

//Profile Styles

.profile-header {
  grid-area: header;
  display: flex;
  align-items: center;
}

//Post Styles
.jh-card {
}

.button-pad {
  margin-left: 5px;
  margin-right: 5px;
}
.card {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'header header' 'content content' 'time time' 'hashtags hashtags' 'buttons buttons';
  z-index: 1;
  border-radius: 5px;
  margin-right: 20px;
  border-color: darkgrey;
  width: 100%;
}

.card-post {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'header header' 'content content' 'time time' 'hashtags hashtags' 'buttons buttons';
  z-index: 1;
  border-radius: 5px;
  width: 100%;
  border-color: darkgray;
}

.card-comment {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'header header' 'content content' 'time time' 'hashtags hashtags' 'buttons buttons';
  z-index: 1;
  border-radius: 5px;
  margin-right: 20px;
  border-color: lightgray;
}
.post-header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.new-post-jawn {
  width: 100%;
}

#header-jawn {
  margin-bottom: 12px;
}
.profile-info {
  grid-area: header;
  display: flex;
  align-items: center;
}

.post-content {
  grid-area: content;
}

.post-time {
  grid-area: time;
  font-size: 14px;
  color: #999;
}

.wrapper {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 210px;
  left: 20px;
  width: 300px;
  max-height: calc(100vh - 210px);
  background-color: transparent;
  overflow-y: auto;
  font-size: 20px;
  z-index: 1;
}

#profile-button,
#home-button {
  text-decoration: none;
}

#profile-button:hover,
#home-button:hover {
  color: #47e6ec;
}

.content {
  margin-left: 200px;
  /* adjust margin-left to match the width of the sidebar */
}

#post-user,
#post-hashtag {
  display: none;
}

.profile-info {
  display: block;
}
.comment-box {
  display: flex;
  align-items: center;
  width: 100%;
}

#comment-input {
  flex: 1;
  width: 100%;
}

.comment-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#comment-msg {
  margin-right: 5em;
}

.comment-container {
  width: 100%;
}
.post-list-row {
  width: 100%;
}
.post-list {
  width: 100%;
}
#comment-button {
  flex: 0 0 auto;
  margin-left: 10px;
}

#comment-id,
#comment-user,
#post-id,
#comment-createdAt {
  display: none;
}

// Styles for mobile
@media (max-width: 768px) {
  #welcome {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
  }
  #comment-msg {
    display: none;
  }
  .comment-input {
    flex: 0 0 75%;
    width: auto;
  }
}

//About Us Styling

#about-us-header {
  text-align: center;
  font-size: 40px;
}

#flutter-team {
}
.team-header {
  // color: #47e6ec;
  color: #7539ee;
  font-size: 20px;
  margin-top: 15px;
}

.team-intro {
}

.team-left {
  float: left;
  width: 75%;
}

.team-right {
  float: right;
  width: 75%;
}

.pronouns {
  color: gray;
  font-size: 13px;
}

.team-member-role {
  font-weight: bold;
  color: black;
}
